<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .list-group-item {
            color: black;
        }
    </style>
</head>

<body>

<div class="container-fluid">
    <div class="row">
        <br><br>
        <div class="col-md-6 col-md-offset-3 ">
            {% block body %}
            {% endblock %}
        </div>
    </div>

</div><!-- /.container -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{{ asset("bundles/creador/js/dynamicTree.js") }}"></script>
<script src="{{ asset("bundles/creador/js/dictionary.js") }}"></script>
<script src="{{ asset("bundles/creador/js/users.js") }}"></script>
<script src="{{ asset("bundles/creador/js/filters.js") }}"></script>

{% block javascript %}
{% endblock %}



</body>
</html>
