<div class="ibox">
    <div class="ibox-content">

        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" id="filterName" placeholder="Filters">
                <span class="input-group-btn">
                <button class="btn btn-primary" id="addFilterBtn" type="button">Add Filter</button>
              </span>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-title">
                <h5>Added Filters</h5>
            </div>
            <div class="ibox-content">
                <div class="filters">
                </div>
            </div>
        </div>
    </div>
</div>
