<div class="item list-group tree form-inline" id="0">
    <label for="node-name">Hierarchy Name</label>
    <div class="input-group">
        <input type="text" class="form-control" id="node-name" placeholder="Hierarchy Name">
        <span class="input-group-btn">
        <button class="btn btn-primary" id="addChildNode" type="button"> Add Child </button>
        <button class="btn btn-success" id="addBaseNode"  type="button"> Add Element </button>
      </span>
    </div>
    <br><br>

    <input type="hidden" name="hierarchyStructure" id="hierarchyStructure">
</div>