<div class="ibox">
    <div class="ibox-content">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" id="userPositionName" placeholder="UserPosition">
                <span class="input-group-btn">
                <button class="btn btn-primary" id="addUserBtn" type="button">Add User Position</button>
              </span>
            </div>
        </div>

        <div class="ibox">
            <div class="ibox-title">
                <h5>Added User Positions</h5>
            </div>
            <div class="ibox-content">
                <div class="usersTypes"></div>
            </div>
        </div>
    </div>
</div>
