<div class="usersTypes">
    <div class="input-group">
        <input type="text" class="form-control" id="userPositionName" placeholder="UserPosition">
        <span class="input-group-btn">
        <button class="btn btn-primary" id="addUserBtn" type="button">Add User Position</button>
      </span>
    </div>

    <br><br>
    <div class="input-group">
        <input type="text" name="usertypes[]" class="form-control" value="REGION" disabled="disabled">
        <span class="input-group-btn">
            <button class="btn btn-danger deleteUser" type="button" disabled="disabled">X</button>
        </span>
    </div>
    <div class="input-group">
        <input type="text" name="usertypes[]" class="form-control" value="COUNTRY" disabled="disabled">
        <span class="input-group-btn">
            <button class="btn btn-danger deleteUser" type="button" disabled="disabled">X</button>
        </span>
    </div>
    <div class="input-group">
        <input type="text" name="usertypes[]" class="form-control" value="STORE" disabled="disabled">
        <span class="input-group-btn">
            <button class="btn btn-danger deleteUser" type="button" disabled="disabled">X</button>
        </span>
    </div>
    <div class="input-group">
        <input type="text" name="usertypes[]" class="form-control" value="NON_HIERARCHICAL" disabled="disabled">
        <span class="input-group-btn">
            <button class="btn btn-danger deleteUser" type="button" disabled="disabled">X</button>
        </span>
    </div>
</div>
