<div class="ibox">
    <div class="ibox-content">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" id="userPositionName" placeholder="UserPosition">
                <span class="input-group-btn">
                <button class="btn btn-primary" id="addUserBtn" type="button">Add User Position</button>
              </span>
            </div>
        </div>

        <div class="ibox">
            <div class="ibox-title">
                <h5>Added User Positions</h5>
            </div>
            <div class="ibox-content">
                <div class="usersTypes">
                    <div class="input-group">
                        <input type="text" name="usertypes[]" class="form-control" value="REGION">
                        <span class="input-group-btn">
                    <button class="btn btn-danger deleteUser" type="button" disabled="disabled"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </span>
                    </div>
                    <div class="input-group">
                        <input type="text" name="usertypes[]" class="form-control" value="COUNTRY">
                        <span class="input-group-btn">
                    <button class="btn btn-danger deleteUser" type="button" disabled="disabled"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </span>
                    </div>
                    <div class="input-group">
                        <input type="text" name="usertypes[]" class="form-control" value="STORE">
                        <span class="input-group-btn">
                    <button class="btn btn-danger deleteUser" type="button" disabled="disabled"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </span>
                    </div>
                    <div class="input-group">
                        <input type="text" name="usertypes[]" class="form-control" value="NON_HIERARCHICAL">
                        <span class="input-group-btn">
                    <button class="btn btn-danger deleteUser" type="button" disabled="disabled"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
