{% extends "CreadorBundle::base.html.twig" %}

{% block body %}
    <div class="starter-template">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h4>Dashboard Creator</h4>
            </div>
            <div class="panel-body">
                <form action="{{ path('creador_default_create') }}" id="createForm" method="post">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <button class="btn btn-success" id="sendForm"> Create YML</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputName2">Client Name</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="clientName" name="clientName" placeholder="Client Name">
                            <span class="input-group-addon">
                                <input type="checkbox" name="test" value="test" checked> Duplicate content for Test
                            </span>
                        </div>
                    </div>
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">Dashboard Config</div>
                            <div class="panel-body">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#filter" aria-controls="home" role="tab" data-toggle="tab">Filtros</a></li>
                                    <li role="presentation"><a href="#userPosition" aria-controls="home" role="tab" data-toggle="tab">User Positions</a></li>
                                    <li role="presentation"><a href="#hierarchy" aria-controls="profile" role="tab" data-toggle="tab">Hierarchy</a></li>
                                    <li role="presentation"><a href="#dictionary" aria-controls="messages" role="tab" data-toggle="tab">Dictionary</a></li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="filter">
                                        <br><br>
                                        {% include 'partials/filters.html' %}
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="userPosition">
                                        <br><br>
                                        {% include 'partials/users.html' %}
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="hierarchy">
                                        <br><br>
                                        {% include 'partials/hierarchy.html' %}
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="dictionary">
                                        <br><br>
                                        {% include 'partials/dictionary.html' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
      var dictionary = {{ dictionary | raw }};

      $(document).ready(function(){
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
          e.target // newly activated tab
          e.relatedTarget // previous active tab
        })

        $('#sendForm').click(function(){
          $("#hierarchyStructure").val(getStructure());
          var clientName = $("#clientName").val();
          if (clientName != "") {
            $("#createForm").submit();
          } else {
            alert('Falta el Client Name');
            return false;
          }

        });

        $.each(dictionary, function (key, value) {
          addTrans(key,value, true);
        });

      });
    </script>
{% endblock %}
